

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: brown;
}

.jeu_infos
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container
{
    height: 400px;
    width: 500px;
    border:1PX solid wheat;
    cursor: crosshair;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    box-shadow: 0 0 5px rgba(0,0,0,0 );
    border-radius: 6px;
    overflow: hidden;
}

#Cible
{
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 0.25s;
    animation: animeCible 10s infinite;
}

button
{
    padding: 10ps 20px;
    margin-bottom: 20px;
    background-color: aquamarine;
    border: 0;
    color: blue;
    cursor: pointer;
}



@keyframes animeCible
{
    to {
        transform:translate(-200px) rotate(90deg);
    }
}